{
  "parser": "@typescript-eslint/parser",

  "plugins": ["@typescript-eslint", "promise", "unicorn", "react-hooks"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:unicorn/recommended",
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "prettier"
  ],
  "rules": {
    "no-restricted-syntax": "off",
    "import/prefer-default-export": "off",
    "no-void": "off",
    "@typescript-eslint/ban-ts-comment": "warn",
    "@typescript-eslint/no-non-null-assertion": "warn",
    "@typescript-eslint/prefer-as-const": "warn",
    "@typescript-eslint/no-empty-function": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/typedef": [
      "warn",
      {
        "parameter": true,
        "arrowParameter": true
        // variableDeclaration: true,
        // memberVariableDeclaration: true,
        // objectDestructuring: true,
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "unicorn/prefer-node-protocol": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/filename-case": "off",
    "unicorn/no-array-callback-reference": 1,
    "unicorn/no-useless-undefined": "off",
    "unicorn/no-null": "off",
    "unicorn/no-array-reduce": "warn",
    "unicorn/no-await-expression-member": "warn",
    "unicorn/no-array-for-each": "warn",
    "unicorn/consistent-function-scoping": [
      "error",
      {
        "checkArrowFunctions": false
      }
    ],
    "unicorn/prefer-math-trunc": "off",
    "unicorn/consistent-destructuring": "off",
    "@typescript-eslint/unbound-method": "off",
    "no-promise-executor-return": "off"
  },
  "overrides": [
    {
      "files": ["**/*.stories.*"],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ]
}
