.masa-rodal-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  border-radius: 24px;
}

.masa-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1.2em;

  width: 100%;
  height: 100%;

  @media (max-width: 600px) {
    overflow-y: scroll;
  }

  &.story {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .masa-modal-container {
    width: 100%;
    height: 100%;
    padding: 1em 2em;

    box-sizing: border-box;

    @media (max-width: 600px) {
      padding: 0;
    }
  }

  .error-message {
    color: red;
  }

  .masa-modal .logo {
    height: 24px;
  }

  .masa-connectors {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
  }

  .masa-connectors .connector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.75em 1em;

    background-color: #f5f5f4;
    border-radius: 12px;

    cursor: pointer;
  }

  .masa-connectors .connector.disabled {
    opacity: 0.5;
    cursor: default;
  }

  .connector p {
    margin: 0;
    font-weight: 600;
  }

  .connector .connector-image {
    height: 40px;
  }

  .dont-have-a-wallet {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    p {
      font-size: 16px;
      padding: 8px;
      margin: 0;
    }
  }
  .masa-input-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 8px;

    .masa-input-label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      display: flex;
      align-items: center;

      color: #000000;
    }

    .masa-input {
      width: 100%;
      border-radius: 4px;
      border-width: 1px;

      font-size: 18px;
      font-family: 'Inter';
      box-sizing: border-box;

      padding: 1em 1.2em;
      border: 0.5px solid rgba(0, 0, 0, 0.4);

      color: rgba(0, 0, 0, 0.6);

      caret-color: black;

      &.transparent {
        color: transparent;
      }
    }
  }

  .authenticate-button {
    margin: 20px 4px;
    font-weight: 500;
    &:hover {
      cursor: pointer;
    }
    &:disabled {
      &:hover {
        cursor: not-allowed;
      }

      background-color: #ccc;
    }
  }

  .input-row {
    display: flex;
    flex-direction: row;
  }

  label {
    font-weight: 600;
  }

  .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .interface-create-soulname {
    align-items: center;

    .title,
    .subtitle {
      text-align: center;
    }

    .subtitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;

      text-align: center;

      color: rgba(0, 0, 0, 0.6);
    }

    .masa-button {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      color: #ffffff;
    }

    .soulname-purchase-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 18px;
      .soulname-purchase-details-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
      }

      .soulname-input-overlay {
        position: absolute;
        width: 100%;
        border-radius: 4px;
        border-width: 0px;

        font-size: 18px;
        box-sizing: border-box;

        padding: 1em 1.2em;

        color: rgba(0, 0, 0, 0.6);

        margin-top: 32px;

        pointer-events: none;

        overflow: hidden;
      }

      .price-estimation {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;

        margin-top: 18px;
      }

      .period-buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 12px;
        box-sizing: border-box;
        align-items: center;

        button {
          background: transparent;
          border: none;
          font-size: 22px;
          font-weight: 500;
          cursor: pointer;

          &:active {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .available-indicator {
      position: absolute;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16.2px;
      line-height: 20px;
      margin-top: 32px;
      color: #964f4fe6;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      height: 60%;
      right: 2px;
      padding: 0 18px;
    }
  }

  .airdrop-interface,
  .not-a-bot-interface,
  .phone-input-interface,
  .code-input-interface,
  .verify-mint-interface,
  .success-interface {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    height: 100%;

    h2 {
      font-size: 30px;
      font-family: ezra;
    }

    p {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    .masa-button {
      width: auto;
      font-weight: 500;
      padding: 18px 32px;
    }
  }

  .success-interface {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .masa-button {
      padding: 18px 48px;
    }
  }

  .verify-mint-interface {
    h2 {
      text-align: center;
    }

    .emphasize {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.7);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  .not-a-bot-interface {
    h2 {
      font-size: 32px;
      text-align: center;
    }
    .bot-icon {
      font-size: 82px;
      margin: 0;
    }
  }
  .code-input-interface {
    .resend {
      font-weight: 500;
      color: black;
      cursor: pointer;
    }

    h2 {
      font-size: 38px;
      margin-bottom: 12px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
      margin-top: 0;
      text-align: center;
    }
    .code-input {
      width: 100%;
      display: flex;
      justify-content: center;
      input {
        text-align: center;
        padding-left: 4px !important;
        padding-right: 4px;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .phone-input-interface {
    h2 {
      text-align: center;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .phone-input-guide {
      line-height: 32px;
    }
    .masa-button {
      margin-top: 12px;
      width: 60%;
      min-width: 240px;
      box-sizing: border-box;
      padding: 18px;
    }

    .g-recaptcha {
      margin-top: 12px;
      iframe:first-child {
        height: 76px !important;
        width: 303px !important;
        border: none;
      }
    }

    .phone-input {
      margin-top: 32px;

      input {
        &:focus {
          outline: none;
        }
      }
    }
  }

  .phone-input {
    border: solid #00000060 1px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 16px 32px;
    width: 60%;
    min-width: 240px;
    box-sizing: border-box;

    .phone-input-label {
      position: absolute;
      left: 0;
      top: -38px;
      font-size: 14px;
      color: black;
      font-weight: 500;
    }
    input {
      border: none;
      padding-left: 16px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      width: 100%;
      height: 36px;
    }
  }

  .interface-authenticate,
  .interface-connected,
  .interface-connect,
  .interface-create-identity,
  .interface-create-soulname {
    display: flex;
    height: 100%;
    flex-direction: column;

    justify-content: space-between;
    .connected-paragraph {
      text-align: left;
    }

    .dont-have-a-wallet {
      padding-top: 0;
    }
  }

  .interface-error-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100%;

    .subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.6);
      font-family: Inter, 'Helvetica Neue';
    }

    h3 {
      font-size: 30px;
      margin: 0;
    }

    p {
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
    }

    button {
      width: fit-content;
      padding: 16px 64px;
    }
  }
  .interface-create-identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .tweet-domain {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.6);
      font-family: Inter, 'Helvetica Neue';
    }

    h3 {
      font-size: 30px;
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
    }

    button {
      width: fit-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .interface-authenticate,
  .interface-connected {
    align-items: center;

    .title {
      text-align: center;
      color: black;
    }

    .connected-wallet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
      &.with-wallet {
        margin-top: 64px;
        display: flex;
        flex-direction: column;

        span {
          span {
            padding: 4px;
          }
          margin-top: 12px;
          padding-left: 4px;
          padding-right: 4px;
          font-weight: 800;
          color: #5987a6;

          cursor: pointer;
        }
      }
    }
  }

  .add-sbt-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;

    h2 {
      font-family: Ezra;
    }

    p {
      font-family: Inter;
    }

    .sbt-inputs {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 24px;
    }

    .add-sbt-button {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      gap: 12px;
    }

    .masa-button {
      font-weight: 500;
    }

    .toggle-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      width: 100%;
      margin-top: 12px;

      label {
        font-family: inter;
      }
    }
  }
}
