@use './scss/fonts.scss';
@use './scss/rodal.scss';
@use './scss/modal.scss';
@use './components/button.scss';
@use './components/gallery/gallery.scss';
@use './scss/rc-tooltip.scss';

:root {
  --z-index-back: 1;
  --z-index-middle: 100;
  --z-index-front: 1000;
  --color-secondary: black;
  --color-primary: white;
  --base-padding: 8px;
  --base-margin: 8px;
}


.wrap {
  flex-wrap: wrap;
}
.column {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--color-secondary);
}

h1,
h2,
h3 {
  font-family: Ezra;
  font-weight: 500;
}

section {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  flex-wrap: wrap;

  justify-content: center;
}
code {
  color: black;
}
ul {
  width: 100%;
  margin: var(--base-margin);
  padding: var(--base-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ul {
    &:nth-child(3n) {
      flex-basis: 100%;
    }
  }

  h3 {
    text-decoration: underline;
    text-align: center;
  }
  list-style: none;
  border: 1px solid black;
  li {
    flex-wrap: wrap;
    padding: 4px;
    text-align: center;
  }
}
.rq-debug {
  * {
    color: white;
  }
  color: white;
  code {
    color: white;
  }
}
.flex-100 {
  flex-basis: 100%;
}
.flex-50 {
  flex-basis: 50%;
}
.width-50 {
  width: calc(50% - 32px);
}

@import '~@rainbow-me/rainbowkit/styles.css';
@import '~react-phone-number-input/style.css';
