@use './scss/fonts.scss';
@use './components/button.scss';
:root {
  --z-index-back: 1;
  --z-index-middle: 100;
  --z-index-front: 1000;
  --color-secondary: black;
  --color-primary: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--color-secondary);
}

h1,
h2,
h3 {
  font-family: Ezra;
  font-weight: 500;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  margin: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    text-decoration: underline;
  }
  list-style: none;
  border: 1px solid black;
  li {
    flex-wrap: wrap;
    padding: 4px;
  }
}

@import '~@rainbow-me/rainbowkit/styles.css';
@import '~react-phone-number-input/style.css';
