.masa-rodal-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  border-radius: 24px;
}
.masa-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;

  padding: 1.2em;

  width: 100%;
  height: 100%;

  .masa-modal-container {
    width: 100%;
    height: 100%;
    padding: 1em 2em;

    box-sizing: border-box;
  }

  .error-message {
    color: red;
  }

  .masa-modal .logo {
    height: 24px;
  }

  .masa-connectors {
    display: flex;
    flex-direction: column;

    gap: 0.5em;
  }

  .masa-connectors .connector {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.75em 1em;

    background-color: #f5f5f4;
    border-radius: 12px;

    cursor: pointer;
  }

  .masa-connectors .connector.disabled {
    opacity: 0.5;
    cursor: default;
  }

  .connector p {
    margin: 0;
    font-weight: 600;
  }

  .connector .connector-image {
    height: 40px;
  }

  .dont-have-a-wallet {
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;
    p {
      font-size: 16px;
    }
  }
  .masa-input-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 8px;

    .masa-input-label {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;

      display: flex;
      align-items: center;

      color: #000000;
    }

    .masa-input {
      width: 100%;
      border-radius: 4px;
      border-width: 1px;

      font-size: 18px;
      font-family: 'Inter';
      box-sizing: border-box;

      padding: 1em 1.2em;
      border: 0.5px solid rgba(0, 0, 0, 0.4);

      color: rgba(0, 0, 0, 0.6);

      caret-color: black;

      &.transparent {
        color: transparent;
      }
    }
  }

  .authenticate-button {
    margin: 20px 0;
    font-weight: 500;
    cursor: pointer;
  }

  .input-row {
    display: flex;
    flex-direction: row;
  }

  label {
    font-weight: 600;
  }

  .spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .interface-create-soulname {
    align-items: center;

    .title,
    .subtitle {
      text-align: center;
    }

    .subtitle {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;

      text-align: center;

      color: rgba(0, 0, 0, 0.6);
    }

    .masa-button {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      color: #ffffff;
    }

    .soulname-purchase-container {
      width: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 18px;
      .soulname-purchase-details-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 16px;
      }

      .soulname-input-overlay {
        position: absolute;
        width: 100%;
        border-radius: 4px;
        border-width: 1px;

        font-size: 18px;
        box-sizing: border-box;

        padding: 1em 1.2em;

        color: rgba(0, 0, 0, 0.6);

        margin-top: 48px;

        pointer-events: none;

        overflow: hidden;
      }

      .price-estimation {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */

        display: flex;
        align-items: center;

        margin-top: 18px;
      }

      .period-buttons {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        padding: 12px;
        box-sizing: border-box;
        align-items: center;

        button {
          background: transparent;
          border: none;
          font-size: 22px;
          font-weight: 500;
          cursor: pointer;

          &:active {
            color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }

    .available-indicator {
      position: absolute;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16.2px;
      line-height: 20px;
      margin-top: 44px;
      color: #964f4fe6;
      background: rgba(255, 255, 255, 0.8);
      display: flex;
      align-items: center;
      height: 60%;
      right: 2px;
      padding: 0 18px;
    }
  }

  .airdrop-interface,
  .not-a-bot-interface,
  .phone-input-interface,
  .code-input-interface,
  .verify-mint-interface,
  .success-interface {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    height: 100%;

    h2 {
      font-size: 30px;
      font-family: ezra;
    }

    p {
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    .masa-button {
      width: auto;
      font-weight: 500;
      padding: 18px 32px;
    }
  }

  .success-interface {
    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .masa-button {
      padding: 18px 48px;
    }
  }

  .verify-mint-interface {
    h2 {
      text-align: center;
    }

    .emphasize {
      font-weight: 500;
      color: rgba(0, 0, 0, 0.7);
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
  .not-a-bot-interface {
    h2 {
      font-size: 32px;
      text-align: center;
    }
    .bot-icon {
      font-size: 82px;
      margin: 0;
    }
  }
  .code-input-interface {
    .resend {
      font-weight: 500;
      color: black;
      cursor: pointer;
    }
    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 18px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.7);
    }
    .code-input {
      width: 100%;
      display: flex;
      justify-content: center;
      input {
        text-align: center;
        padding-left: 8px !important;
        padding-right: 8px;
      }
    }
  }

  .phone-input-interface {
    h2 {
      text-align: center;
    }
    .input-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
    .phone-input-guide {
      line-height: 32px;
    }
    .masa-button {
      margin-top: 12px;
      width: 60%;
      min-width: 240px;
      box-sizing: border-box;
      padding: 18px;
    }

    .g-recaptcha {
      margin-top: 12px;
      iframe:first-child {
        height: 75px !important;
        border: none;
      }
    }

    .phone-input {
      margin-top: 32px;
    }
  }

  .phone-input {
    border: solid #00000060 1px;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding: 16px 32px;
    width: 60%;
    min-width: 240px;
    box-sizing: border-box;

    .phone-input-label {
      position: absolute;
      left: 0;
      top: -38px;
      font-size: 14px;
      color: black;
      font-weight: 500;
    }
    input {
      border: none;
      padding-left: 16px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 16px;
      width: 100%;
      height: 36px;
    }
  }

  .interface-authenticate,
  .interface-connected,
  .interface-connect,
  .interface-create-identity,
  .interface-create-soulname {
    display: flex;
    height: 100%;
    flex-direction: column;

    justify-content: space-between;
    .connected-paragraph {
      text-align: left;
    }

    .dont-have-a-wallet {
      padding-top: 0;
    }
  }

  .interface-error-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    height: 100%;

    .subtitle {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.6);
      font-family: Inter, 'Helvetica Neue';
    }

    h3 {
      font-size: 30px;
      margin: 0;
    }

    p {
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
    }

    button {
      width: fit-content;
      padding: 16px 64px;
    }
  }
  .interface-create-identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    .tweet-domain {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      margin-top: 0;
      color: rgba(0, 0, 0, 0.6);
      font-family: Inter, 'Helvetica Neue';
    }

    h3 {
      font-size: 30px;
      margin-bottom: 0;
    }

    p {
      font-size: 18px;
      text-align: center;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.6);
    }

    button {
      width: fit-content;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .interface-authenticate,
  .interface-connected {
    .title {
      text-align: center;
    }

    .connected-wallet {
      text-align: center;
      font-size: 18px;
      color: rgba(0, 0, 0, 0.6);

      &.with-wallet {
        margin-top: 64px;
        display: flex;
        flex-direction: column;

        span {
          margin-top: 12px;
          font-weight: 800;
          color: #5987a6;

          cursor: pointer;
        }
      }
    }
  }
}

// RODAL STYLES
/* -- container -- */
.rodal,
.rodal-mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.rodal {
  position: fixed;
}

/* -- mask -- */
.rodal-mask {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}

/* -- dialog -- */
.rodal-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 101;
  padding: 15px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.rodal-dialog:focus {
  outline: none;
}

/* -- close button -- */
.rodal-close {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
}

.rodal-close:before,
.rodal-close:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #999;
  border-radius: 100%;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.rodal-close:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rodal-close:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rodal-close:hover:before,
.rodal-close:hover:after {
  background: #333;
}

/* -- fade -- */
@-webkit-keyframes rodal-fade-enter {
  from {
    opacity: 0;
  }
}

@keyframes rodal-fade-enter {
  from {
    opacity: 0;
  }
}

.rodal-fade-enter {
  -webkit-animation: rodal-fade-enter both ease-in;
  animation: rodal-fade-enter both ease-in;
}

@-webkit-keyframes rodal-fade-leave {
  to {
    opacity: 0;
  }
}

@keyframes rodal-fade-leave {
  to {
    opacity: 0;
  }
}

.rodal-fade-leave {
  -webkit-animation: rodal-fade-leave both ease-out;
  animation: rodal-fade-leave both ease-out;
}

/* -- zoom -- */
@-webkit-keyframes rodal-zoom-enter {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes rodal-zoom-enter {
  from {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.rodal-zoom-enter {
  -webkit-animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-zoom-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-zoom-leave {
  to {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes rodal-zoom-leave {
  to {
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.rodal-zoom-leave {
  -webkit-animation: rodal-zoom-leave both;
  animation: rodal-zoom-leave both;
}

/* -- slideDown -- */
@-webkit-keyframes rodal-slideDown-enter {
  from {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

@keyframes rodal-slideDown-enter {
  from {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

.rodal-slideDown-enter {
  -webkit-animation: rodal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-slideDown-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideDown-leave {
  to {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

@keyframes rodal-slideDown-leave {
  to {
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
  }
}

.rodal-slideDown-leave {
  -webkit-animation: rodal-slideDown-leave both;
  animation: rodal-slideDown-leave both;
}

/* -- slideLeft -- */
@-webkit-keyframes rodal-slideLeft-enter {
  from {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

@keyframes rodal-slideLeft-enter {
  from {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

.rodal-slideLeft-enter {
  -webkit-animation: rodal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-slideLeft-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideLeft-leave {
  to {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

@keyframes rodal-slideLeft-leave {
  to {
    -webkit-transform: translate3d(-150px, 0, 0);
    transform: translate3d(-150px, 0, 0);
  }
}

.rodal-slideLeft-leave {
  -webkit-animation: rodal-slideLeft-leave both;
  animation: rodal-slideLeft-leave both;
}

/* -- slideRight -- */
@-webkit-keyframes rodal-slideRight-enter {
  from {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

@keyframes rodal-slideRight-enter {
  from {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

.rodal-slideRight-enter {
  -webkit-animation: rodal-slideRight-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-slideRight-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideRight-leave {
  to {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

@keyframes rodal-slideRight-leave {
  to {
    -webkit-transform: translate3d(150px, 0, 0);
    transform: translate3d(150px, 0, 0);
  }
}

.rodal-slideRight-leave {
  -webkit-animation: rodal-slideRight-leave both;
  animation: rodal-slideRight-leave both;
}

/* -- slideUp -- */
@-webkit-keyframes rodal-slideUp-enter {
  from {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

@keyframes rodal-slideUp-enter {
  from {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

.rodal-slideUp-enter {
  -webkit-animation: rodal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-slideUp-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-slideUp-leave {
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

@keyframes rodal-slideUp-leave {
  to {
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
  }
}

.rodal-slideUp-leave {
  -webkit-animation: rodal-slideUp-leave both;
  animation: rodal-slideUp-leave both;
}

/* -- flip -- */
@-webkit-keyframes rodal-flip-enter {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes rodal-flip-enter {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 60deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }
  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

.rodal-flip-enter {
  -webkit-animation: rodal-flip-enter both ease-in;
  animation: rodal-flip-enter both ease-in;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@-webkit-keyframes rodal-flip-leave {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
  }
}

@keyframes rodal-flip-leave {
  from {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
  30% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -15deg);
  }
  to {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 45deg);
  }
}

.rodal-flip-leave {
  -webkit-animation: rodal-flip-leave both;
  animation: rodal-flip-leave both;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

/* -- rotate -- */
@-webkit-keyframes rodal-rotate-enter {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -180deg) scale3d(0.3, 0.3, 0.3);
    transform: rotate3d(0, 0, 1, -180deg) scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes rodal-rotate-enter {
  from {
    -webkit-transform: rotate3d(0, 0, 1, -180deg) scale3d(0.3, 0.3, 0.3);
    transform: rotate3d(0, 0, 1, -180deg) scale3d(0.3, 0.3, 0.3);
  }
}

.rodal-rotate-enter {
  -webkit-animation: rodal-rotate-enter both;
  animation: rodal-rotate-enter both;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@-webkit-keyframes rodal-rotate-leave {
  to {
    -webkit-transform: rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 0.3);
    transform: rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes rodal-rotate-leave {
  to {
    -webkit-transform: rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 0.3);
    transform: rotate3d(0, 0, 1, 180deg) scale3d(0.3, 0.3, 0.3);
  }
}

.rodal-rotate-leave {
  -webkit-animation: rodal-rotate-leave both;
  animation: rodal-rotate-leave both;
  -webkit-transform-origin: center;
  transform-origin: center;
}

/* -- door -- */
@-webkit-keyframes rodal-door-enter {
  from {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
  }
}

@keyframes rodal-door-enter {
  from {
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
  }
}

.rodal-door-enter {
  -webkit-animation: rodal-door-enter both cubic-bezier(0.4, 0, 0, 1.5);
  animation: rodal-door-enter both cubic-bezier(0.4, 0, 0, 1.5);
}

@-webkit-keyframes rodal-door-leave {
  60% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0, 1, 0.1);
    transform: scale3d(0, 1, 0.1);
  }
}

@keyframes rodal-door-leave {
  60% {
    -webkit-transform: scale3d(0.01, 1, 1);
    transform: scale3d(0.01, 1, 1);
  }
  to {
    -webkit-transform: scale3d(0, 1, 0.1);
    transform: scale3d(0, 1, 0.1);
  }
}

.rodal-door-leave {
  -webkit-animation: rodal-door-leave both;
  animation: rodal-door-leave both;
}
