.flex-50 {
  flex: 1 1 50%;
}

.flex-100 {
  flex: 1 1 100%;
  padding: 16px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.rq-debug {
  * {
    color: white;
  }
  color: white;
  code {
    color: white;
  }
}
