@use './styles-fonts.scss';
@use './scss/rodal.scss';
@use './scss/modal.scss';
@use './scss/rc-tooltip.scss';

:root {
  --color-secondary: black;
  --color-primary: white;
  --base-padding: 8px;
  --base-margin: 8px;
}

@import '~@rainbow-me/rainbowkit/styles.css';
@import '~react-phone-number-input/style.css';
